.product-image {
    max-width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#add-to-cart-btn {
    background-color: #aed131;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#add-to-cart-btn:hover {
    background-color: #8bbf1a;
}