.header {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.logo-image {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    
}