.inventory-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 100%;
}

.inventory-list h2 {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}