.inventory-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.inventory-list::after {
    content: "";
    flex-grow: 1;
}